<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id"
          content="42088802485-n1mb2q3d8gigkqoth61ca07nfthgk9hr.apps.googleusercontent.com">
    <title>ReciLive</title>
    <!-- CSS Library -->
    <!-- <link href="static/css/library/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/library/materialize.min.css">
    <link href="static/css/library/datepicker.css" rel="stylesheet" type="text/css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <!-- JS Library -->
    <script src="static/javascript/library/jquery-3.2.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="static/javascript/library/bootstrap.min.js"></script>
    <script src="/static/javascript/library/materialize.min.js"></script>
    <script src="static/javascript/library/bootstrap-datepicker.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
    <!-- Our CSS -->
    <link href="static/css/class.css" rel="stylesheet" type="text/css">
    <!-- Our JS-->
    <script src="static/javascript/authentication.js"></script>
    <script src="static/javascript/class.js"></script>
    <script src="static/javascript/class-generator.js"></script>
    <script src="static/javascript/recitation-generator.js"></script>
    <script src="static/javascript/papaparse.min.js"></script>

</head>

<body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <img src="../static/img/logo/android-icon-48x48.png">
        <div class="sign-in" data-onsuccess="onSignIn"></div>
        <a href="#" id="sign-out" onclick="signOut()">Log out</a>
      </div>
      <div class="nav-content">
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="#class-detail" onclick="initClassModal()">
          <i class="material-icons">add</i>
        </a>
      </div>
    </nav>
    <!-- Modal for Recitation -->
    <div id="recitation-detail" class="modal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                  <div class="input-field col s12">
                    <input class="recitation-name" type="text" class="validate">
                    <label>Recitation Name</label>
                  </div>
                    <div id="rec-date-alert">
                        <strong>Oh snap!</strong>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>
                                Start date
                                <a href="#!" class="btn" id="rec-date-start" data-date-format="yyyy-mm-dd">Change</a>
                            </th>
                            <th>
                                End date
                                <a href="#!" class="btn" id="rec-date-end" data-date-format="yyyy-mm-dd">Change</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="rec-date-start-display"></td>
                            <td id="rec-date-end-display"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-body">
                    <table>
                        <thead>
                        <tr>
                            <th>File</th>
                        </tr>
                        </thead>
                        <tbody class="student-list">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn save-recitaiton" onclick="addRecitation()">Save</button>
                    <label class="btn btn-primary">Bulk Import<input type="file" class="bulk-import-student" style="display: none;"></label>
                </div>
            </div>

        </div>
    </div>
    <section class="class-info">
        <h2>Next Class starts in <span>1 hr</span></h2>
        <br>
        <div class="input-field col s6">
          <i class="material-icons prefix">search</i>
          <input type="text" class="validate">
          <label for="icon_prefix">Search</label>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row class-list">
            </div>
        </div>
    </section>
    <!-- Modal for class -->
    <div id="class-detail" class="modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="input-field col s12">
          <input class="class-name" type="text" class="validate">
          <label>Class Name</label>
        </div>
        <div id="class-date-alert">
            <strong>Oh snap!</strong>
        </div>
        <table>
            <thead>
            <tr>
                <th>
                    Start date
                    <a href="#!" class="btn" id="class-date-start" data-date-format="yyyy-mm-dd">Change</a>
                </th>
                <th>
                    End date
                    <a href="#!" class="btn" id="class-date-end" data-date-format="yyyy-mm-dd">Change</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="class-date-start-display"></td>
                <td id="class-date-end-display"></td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th>Student E-mail</th>
            </tr>
            </thead>
            <tbody class="student-list">
            </tbody>
        </table>
          <div class="modal-footer">
              <a href="#!" class="btn modal-action modal-close waves-effect save-class" onclick="addClass()">Save</a>
              <label class="btn">Bulk Import<input type="file" class="bulk-import-student" style="display: none;" onchange="import_student()"></label>
              <button type="button" class="btn" onclick="add_student()">Add</button>
          </div>
      </div>
    </div>
</body>

</html>
