<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReciLive</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/logo/favicon-96x96.png">
    <!-- CSS Library -->
    <link href="../static/css/library/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/library/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- JS Library -->
    <script src="../static/javascript/jquery-3.1.1.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <!-- Our CSS -->
    <link href="../static/css/main_common.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main_student.css" rel="stylesheet" type="text/css">

    <script src="/static/javascript/jquery-3.1.1.js"></script>
    <!--<script src="/static/javascript/bluebird.js"></script>-->
    
    <script src="/static/javascript/vex.combined.min.js"></script>
    <link href="/static/css/library/vex.css" rel="stylesheet" type="text/css">
    <link href="/static/css/library/vex-theme-default.css" rel="stylesheet" type="text/css">
    <script>vex.defaultOptions.className = 'vex-theme-default'</script>

    <script src="/static/javascript/transaction_system.js"></script>
    <script src="/static/javascript/module/chat_module.js"></script>
    <script src="/static/javascript/module/slide_module.js"></script>
    <script src="/static/javascript/module/sound_control_module.js"></script>
    <script src="/static/javascript/sound_system.js"></script>
    <script src="/static/javascript/resampler.js"></script>
    <script src="/static/javascript/Queue.src.js"></script>
    <script src="/static/javascript/canvas_controller.js"></script>
</head>

<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../static/img/logo/android-icon-48x48.png">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><%= username %></a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 side-bar">
            <span class="fa fa-backward fa-2x student-list"></span>
            <span class="fa fa-hand-paper-o fa-2x microphone"></span>
            <span class="fa fa-comments fa-2x chat"></span>
            <span class="fa fa-pencil fa-2x daw"></span>
            <span class="fa fa-undo fa-2x undo"></span>
            <span class="fa fa-repeat fa-2x redo"></span>
            <span class="fa fa-eraser fa-2x eraser"></span>
            <span class="fa fa-area-chart fa-2x quiz"></span>
            <span class="fa fa-download fa-2x download"></span>
        </div>
        <div class="col-md-6" id="slide-stage" >
            <canvas id="slide-canvas" style="border:1px solid #000000;">
            </canvas>
            <button type="button" id="previous-slide">&lt</button>
            <button type="button" id="next-slide">&gt</button>
        </div>
        <div class="col-md-4" id="info-board">
            <input type="text" name="text" id="send"></input>
            <button class="add-message" type="button" id="submit">+</button>
        </div>
    </div>
</div>
<script>
    transactionSystem = new TransactionSystem("/room/<%= classroomNumber %>/transaction");
    transactionSystem.userID = parseInt("<%= userID %>");
    soundControlSystem = new SoundControl(transactionSystem);
    chatModule = new Chat(transactionSystem, $('#info-board'), $('#submit'), $('#send'));
    slideModule = new Slide(transactionSystem,$('#slide-canvas'), $('#previous-slide'), $('#next-slide'));
    transactionSystem.registerModule(chatModule.moduleName,chatModule);
    transactionSystem.registerModule(slideModule.moduleName,slideModule);
    transactionSystem.registerModule(soundControlSystem.moduleName,soundControlSystem);
    canvasController = new canvasontroller($('#slide-canvas'));
    var loadingDialog = vex.dialog.open({
        message: 'page loading...',
        buttons: [],
        overlayClosesOnClick:false
    })
    $.ajax({
        url: window.location.href+'/my_privilege',
        type: 'get',
        dataType: 'json',
    }).then((result)=>{
        if(result.status == 'ok'){
            transactionSystem.privilege = result.privilege;
        } else throw result;
    }).then(transactionSystem.init).then(slideModule.init).then(soundControlSystem.init).then(function (result) {
        return activateSound();
    }).then(()=>{
        vex.close(loadingDialog);
        console.log('ready');
    });

    var audioCtx;
    var soundSystem;



    function activateSound() {
        var eventRate = 16384;

        return new Promise(function (resolve, reject) {
            if (!navigator.getUserMedia)
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia ||
                        navigator.mozGetUserMedia || navigator.msGetUserMedia;
            if (navigator.getUserMedia) {
                navigator.getUserMedia({
                            audio: true
                        },
                        function (stream) {
                            start_microphone(stream);
                        },
                        function (e) {
                            alert('Error capturing audio.');
                            reject({reason: 'audio permission rejected'});
                        }
                );
            } else {
                alert('getUserMedia not supported in this browser.');
                reject({reason: 'getUserMedia not supported in this browser.'});
            }

            var AudioContext = window.AudioContext || window.webkitAudioContext;

            function start_microphone(stream) {
                audioCtx = new AudioContext();
                console.log('native sample rate: '+audioCtx.sampleRate);
                soundSystem = new SoundSystem("/room/<%= classroomNumber %>/sound", audioCtx.sampleRate, eventRate);
                if(soundControlSystem.asListener) soundSystem.receiveFlag = true;
                soundSystem.connect();
                var microphone_stream = audioCtx.createMediaStreamSource(stream);
                //microphone_stream.connect(audioCtx.destination);
                var scriptProc = getAudioProc();
                microphone_stream.connect(scriptProc);
                scriptProc.connect(audioCtx.destination);
                //scriptProc.connect(audioCtx.createMediaStreamDestination());
                return resolve();
            }

            function getAudioProc() {
                var script_processor_node = audioCtx.createScriptProcessor(eventRate, 1, 1);
                script_processor_node.onaudioprocess = function(audioProcessingEvent) {
                    var inputBuffer = audioProcessingEvent.inputBuffer;
                    var outputBuffer = audioProcessingEvent.outputBuffer;
                    var inputData = inputBuffer.getChannelData(0);
                    var outputData = outputBuffer.getChannelData(0);
                    if(soundControlSystem.asSpeaker)
                        soundSystem.send(inputData);
                    if(soundControlSystem.asListener)
                        soundSystem.writeNextSoundBuffer(outputData);
                };
                return script_processor_node;
            }
        });
    }
</script>
</body>

</html>
