<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReciLive</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/img/logo/favicon-96x96.png">
    <!-- CSS Library -->
    <link href="../static/css/library/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/library/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- JS Library -->
    <script src="../static/javascript/jquery-3.1.1.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>
    <!-- Our CSS -->
    <link href="../static/css/main_common.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main_student.css" rel="stylesheet" type="text/css">

    <script src="/static/javascript/jquery-3.1.1.js"></script>
    <!--<script src="/static/javascript/bluebird.js"></script>-->
    <script src="/static/javascript/transaction_system.js"></script>
    <script src="/static/javascript/module/chat_module.js"></script>
    <script src="/static/javascript/module/slide_module.js"></script>
</head>

<body>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../static/img/logo/android-icon-48x48.png">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Support</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><%= username %></a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 side-bar">
            <span class="fa fa-backward fa-2x student-list"></span>
            <span class="fa fa-hand-paper-o fa-2x microphone"></span>
            <span class="fa fa-comments fa-2x chat"></span>
            <span class="fa fa-pencil fa-2x daw"></span>
            <span class="fa fa-undo fa-2x undo"></span>
            <span class="fa fa-repeat fa-2x redo"></span>
            <span class="fa fa-eraser fa-2x eraser"></span>
            <span class="fa fa-area-chart fa-2x quiz"></span>
            <span class="fa fa-download fa-2x download"></span>
        </div>
        <div class="col-md-6" id="slide-stage" >
            <button class="add-message" type="button" id="next-slide">&lt</button>
            <button class="add-message" type="button" id="previous-slide">&gt</button>
        </div>
        <div class="col-md-4" id="info-board">
            <input type="text" name="text" id="send"></input>
            <button class="add-message" type="button" id="submit">+</button>
        </div>
    </div>
</div>
<script>
    var path = "/room/<%= classroomNumber %>/transaction";
    transactionSystem = new TransactionSystem(path);
    chatModule = new Chat(transactionSystem, $('#info-board'), $('#submit'), $('#send'));
    slideModule = new Slide(transactionSystem,$('#slide-stage'), $('#previous-slide'), $('#next-slide'));
    transactionSystem.registerModule(chatModule.moduleName,chatModule);
    transactionSystem.registerModule(slideModule.moduleName,slideModule);
    transactionSystem.init().then(()=>{
        console.log('ready');
    });
</script>
</body>

</html>
