<html>
<head>
    <script src="/static/javascript/jquery-3.1.1.js"></script>
    <script src="/static/javascript/bluebird.js"></script>
    <script src="/static/javascript/transaction_system.js"></script>
    <script src="/static/javascript/module/chat_module.js"></script>
</head>
<body>
<p>transaction test</p>
<p><%= username %></p>
<input type="text" name="text" id="send">
<input type="button" id="submit">
<div id="result"></div>
<script>
    var path = "/room/"+"<%= classroomNumber%>"+"transaction";
    transactionSystem = new TransactionSystem(path);
    chatModule = new Chat(transactionSystem, $('#result'));
    transactionSystem.registerModule(chatModule.moduleName,chatModule);

    transactionSystem.startPromise();
</script>
</body>
</html>