<html>
<head>
    <script src="/static/javascript/jquery-3.1.1.js"></script>
    <script src="/static/javascript/bluebird.js"></script>
    <script src="/static/javascript/transaction_system.js"></script>
</head>
<body>
<p>transaction test</p>
<p>abc2</p>
<input type="text" name="text" id="send">
<input type="button" id="submit">
<div id="result"></div>
<script>
    transactionSystem = new TransactionSystem('/');
</script>
</body>
</html>