body {
  height: 100%;
  width: 100%;
}
.navbar {
  background: #f2b632 url("../img/crossword.png") repeat;
  border-radius: 0;
  margin-bottom: 0px;
  /*border-bottom: 2px solid #F2F3F6;*/
}
#navbar a{
  color: black;
  font-size: 16px;
  background-color: transparent;
}
.navbar-toggle span {
  background-color: #e05038;
}
.side-bar {
  width: 4%;
  padding-left: 0;
  padding-right: 0;
  min-height: calc(100vh - 52px);
  /*temp*/
  background-color: #e05038;
}
.side-bar span {
  display:inline-block;
  line-height: 60px;
  width: 100%;
  height: 70px;
  text-align: center;
  vertical-align: bottom;
}
