<script type="text/html">
    <div class="recitation">
        <h4>{{recitation_name}}</h4>
        <div class="dropdown-course-content">
            <a target="_blank" href="https://room.recilive.stream/room/{{roomid}}">Enter</a>
            <a href="#{{mongoid}}">More</a>
        </div>
    </div>
    <div id="{{mongoid}}" class="modal bottom-sheet">
        <div class="modal-content class-option">
            <a onclick="viewRecitationInfo('{{mongoid}}','{{classId}}')" href="#recitation-detail">Edit {{recitation_name}}</a>
            <a href="#" onclick="deleteRecitation('{{mongoid}}','{{classId}}')">Delete {{recitation_name}}</a>
            <a onclick="showResourcesEdit('{{mongoid}}')" >Resources</a>
        </div>
    </div>
    <script>
        $('#{{mongoid}}').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%' // Ending top style attribute
        });
    </script>
</script>
